<div class="container">
	<div class="row mt-4">
		<div class="col-lg-10 col-md-10 com-sm-10 mb-3">
			<h2>
				<i class="fa fa-users" aria-hidden="true"></i> Clients
			</h2>
			<br>
			<h4 class="text-secondary">Total Owed: 
				<span
					[class.text-danger]="hasOwed"
					[class.text-success]="!hasowed"
				>
					{{ totalOwed | currency: "INR": "symbol" }}
				</span>
			</h4>
		</div>

		<div class="col-lg-2 col-md-2">
			<a routerLink="/clients/add" class="btn btn-success btn-lg mt-5 mr-4 mb-4">
				<i class="fa fa-plus"></i> New
			</a>
		</div>
	</div>
	
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Balance</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr *ngFor=" let client of clients ">
				<td>{{ client.firstname }} {{ client.lastname }}</td>
				<td>{{ client.email }}</td>
				<td
					[class.text-danger]="client.balance>0 "
					[class.text-success]="client.balance == 0"
				>
					{{ client.balance }}
				</td>
				<td>
					<a routerLink="/client/detail/{{ client.id }}" class="btn btn-sm btn-dark">
						<i class="fa fa-plus-circle" aria-hidden="true"></i> details
					</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
