<div class="container">
	<div class="row m-4">
		<div class="col-lg-10 col-md-10 com-sm-10 ">
			<h2><i class="fa fa-users" aria-hidden="true"></i> Clients</h2>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h4 class="text-secondary">Total Owed: xxx</h4>
		</div>
	</div>
	
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Balance</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr *ngFor=" let client of clients ">
				<td>{{ client.firstname }} {{ client.lastname }}</td>
				<td>{{ client.email }}</td>
				<td>{{ client.balance }}</td>
				<td>
					<button class="btn btn-sm btn-dark">
						<i class="fa fa-plus-circle" aria-hidden="true"></i> details
					</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>
